<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jrk.aderoid"
    android:versionCode="3"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permision.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permision.READ_EXTERNAL_STORAGE" >
    </uses-permission>

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name="com.jrk.aderoid.Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jrk.aderoid.DayViewActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.jrk.aderoid.AderoidWidget"
            android:label="@string/title_activity_aderoid_widget" >
        </activity>
        


         <!-- Activité de configuration -->
		<activity android:name=".ImageWidgetConfigure">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
			</intent-filter>
		</activity>

        <!-- Déclaration du widget -->
        <receiver android:name=".ImageWidgetProvider">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/image_widget_provider" />
		</receiver>

        <!-- Service du widget -->
		<service android:name=".ImageWidgetService"></service>
        
    </application>

</manifest>